[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-vest"]
	path = lib/dss-vest
	url = https://github.com/giry-dev/dss-vest
[submodule "lib/semitransferable-token"]
	path = lib/semitransferable-token
	url = https://github.com/mangrovedao/semitransferable-token
